<div class="row">
    <div class="col-12 list">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let p of data; let i=index">
            <div [ngClass]="{'card': true}" (click)="onIndustrySelect(p)">
              <div class="position-relative">
                <a href="javascript:;"><img class="card-img-top" [src]="p.img" [alt]="p.title"></a>
              </div>
              <div class="card-body">
                  <div class="row">
                  <div class="col-10">
                    <a href="javascript:;">
                      <p class="list-item-heading mb-4 pt-1">{{p.title}}</p>
                    </a>
                  </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
