<!-- <div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <h1>{{ industryType }}</h1>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ "forms.email" }}</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="{{ 'forms.email' }}" />
                        <small id="emailHelp" class="form-text text-muted">{{ "forms.email-muted" }}</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="container">

        <div class="p-5 bg-white text-center">


            <h2>

                E-commerce

            </h2>

            <p class="mb-5">

                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed maiores eum quas totam amet mollitia

                consectetur asperiores aliquam. Hic repudiandae neque facilis culpa optio sit consequuntur nesciunt

                omnis

                voluptatum dicta.

            </p>

            <h4>

                Select/ Deselect the features amd modules

            </h4>

        </div>

        <div class="border-bottom">


        </div>

        <div class="card"> 
            <div class="card-body">
            <div class="row mt-4">

            <div class="col-3">

                <h3>List of modules</h3>

            </div>

            <div class="col-9">

                <div class="row">

                    <div class="col-10">

                        <ul style="list-style: none;display: flex;flex-wrap: wrap;">

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                        </ul>

                    </div>

                    <div class="col-6">


                    </div>

                </div>

            </div>

        </div>


        <div class="border-bottom">


        </div>


        <div class="row mt-4">

            <h3 class="mb-3">Module wise Features List</h3>

            <div class="col-3">


            </div>

            <div class="col-9">

                <div class="row">

                    <div class="col-10">

                        <ul style="list-style: none;display: flex;flex-wrap: wrap;">

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                            <li class="" style="width: 50%;">

                                <label class="d-flex container1">

                                    <h4> E-commerce</h4>

                                    <input type="checkbox" class="ms-3" checked="checked">

                                    <span class="checkmark"></span>

                                </label>

                            </li>

                        </ul>

                    </div>

                    <div class="col-6">


                    </div>

                </div>

            </div>

        </div>
</div>
</div>
       
    </div>

